<?php

$app["debug"] = false;

$app["fb.options"] = array(
    "app_id"          =>  "",
    "app_secret"      =>  "",
    "permissions"     =>  array(),
    "redirect_route"  =>  "fb_addhandler",
);

//$opts = $app["fb.options"];
//$opts["page_url"] =  "http://www.facebook.com/marsapp/app_" . $app["fb.options"]["app_id"];
//$app["fb.options"] = $opts;

$app["db.options"] = array(
  "driver"    =>  "pdo_mysql",
  "host"      =>  "localhost",
  "user"      =>  "",
  "password"  =>  "",
  "dbname"    =>  "",
  "charset"   =>  "utf8",
  "driverOptions" => array(
    \PDO::ATTR_ERRMODE            =>  \PDO::ERRMODE_EXCEPTION,
    \PDO::MYSQL_ATTR_INIT_COMMAND =>  "SET NAMES utf8",
  ),
);
